{% extends 'global/base.html' %}
{% include './navbar.html' %}
{% block 'body-content' %}
    <div class="container">
        <div class="general-info">
            <div class="profile">
                perfil, classe = profile
            </div>
            <div class="table">
                tabela, classe = table
            </div>
        </div>
        <div class="specific-info">
            <div class="data">
                dados, classe = data
            </div>
            <div class="graphic">
                grafico, dados = graphic
            </div>
        </div>
    </div>
{% endblock 'body-content' %}