{% extends 'global/base.html' %}
{% block 'body-content' %}
    <div class="title-and-button">
        <h1 class="page-name">Relatórios de projeto</h1>
        <a href="{% url "new-register" %}"><button type="button" class="add-report"><i class="fa-solid fa-plus"></i>Adicionar</button></a>
    </div>
    <div class="reports-table">
        <table>
            <thead>
                <th>Numero do projeto</th>
                <th>Nome do projeto</th>
                <th>Responsável</th>
                <th>Responsavel Zetta</th>
                <th></th>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        <td>{{i.project_number}}</td>
                        <td>{{i.project_name}}</td>
                        <td>{{i.client_name}}</td>
                        <td>{{i.evaluated}}</td>
                        <td><a href="details/{{i.id}}"><button>link</button></a></td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
{% endblock 'body-content' %}